body{

    background-image:url(http://wallpapercave.com/wp/xLZrFev.png);
    background-size:100%;

}
.moveDown{
    position:relative;
    top:20vh;

}
#inputIDPokemon{
    background-color:red;
    color:white;
    
}
#divPokemon{
    visibility:hidden;
    top:30px;
    background-color:#ffffff;
}