
*{
  box-sizing:border-box;  
}
.silvio{
    position:absolute;
   transform:translate(25%,25%);
}
.titulo{
    position:absolute;
    bottom:100px;
    width:100%;
    font-size:40PT;
    padding-top:0px;
    padding-bottom:0px;
    color:white;
    background-color:rgba(127,255,212,0.6);
}

.conteudo{
    position:absolute;
    bottom:0;
    width:100%;
    font-size:10PT;
    padding-top:0px;
    padding-bottom:0px;
    color:white;
    background-color:rgba(127,255,212,0.6);
}

.conteudo:hover > .paragrafo{
    display:inline-block;
    font-size:14pt;
}
.fundo {
    position:relative;
    height:400px;
    width:100%;
}
.paragrafo{
    margin-top:0 px;
    display:hidden;
    font-size:0;
}
h1{
    margin-bottom:0px;
}