
.div-1{
    text-transform: uppercase;
    float:center;
    background:#c4170c;
    height:40px;
    color:white;
    font-size:22pt;
    text-align:center;
    font-weight:bold;
}
.container{
    background:#c4170c;
    padding:20px;
}
/* Clearfix  Faz com que o float funcione corretamente. */
.clearfix:after{
    content:" ";
    display:block;
    clear:both;
}
body{
    margin:0;
    font-family:"Open Sans", sans-serif;   
    background-color:#fafafa;
}
.titulo-noticia{
    float:center;
    background:white;
    color: #c4170c;
    font-size:22pt;
    text-align:left;
    font-weight:bold;
    margin-bottom: 20px;
    padding:15px;
    padding-bottom:0;
}
.corpo-noticia{
    font-weight:600;
    padding:15px;
}
.noticia{
    font-family:"Open Sans", sans-serif;  
    background:#fff;
    padding:40px;
    margin:20px;
    margin-left:40px;
    margin-right:1%;
    padding-bottom:60px;
    width:45%;
    box-sizing:border-box;
    border: 1px solid #bbb;
    background-color:white;
    float:left;
}
#noticia2{
    margin-left:1%;
}

.primeirochar{
  color:  #c4170c;
  float: left;
  font-size: 50px;
  line-height: 40px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
    text-transform:uppercase;
}

.imagem{
    float:right;
    clear:both;
}
.subtitulo-noticia{
    padding-left:15px;
    color:#bbb;   
}
.time{
    color:#bbb;
    margin-top:10px;
    color:#bbb;
    text-align:right;
    text-transform: uppercase;
}

