body{
    
    background-image:url(background.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size:cover;
    font-family:"Brush Script MT",cursive;
    opacity:0;
    transition: opacity 10s;
    background-color: black;
}
p{
    margin-top:20px;
    font-size:28pt;
    word-spacing:10pt;
    color:black;
    text-shadow:3px 2px red;
    font-style: oblique;
    font-weight:bolder;
}
h1{
    margin-top:200px;
    font-size:26pt;
    text-shadow:3px 2px #F9F90E;
    
}
.fade{
   opacity: 0;
   transition: opacity 4s ease-in-out;
   }
.fade2{
   opacity: 0;
   transition: opacity 8s ease-in-out;
   }


   h1:hover + .fade + .fade2, h1:hover + .fade{
       
       opacity: 1.0;
      
    }

   
    

