<div class="container" ng-if="auth.isAutenticado()">
<br><br><a class="button is-light" href="#!/editora" ng-click="logout()"> Logout</a>
<a class="button is-light" href="#!/editora" >Voltar para página inicial.</a>
<a class="button is-light" ng-click="mostrarAddLivros = true; mostrarRevisarLivros = false" >Adicionar Livros</a>
<a class="button is-light" ng-click="mostrarRevisarLivros = true; mostrarAddLivros = false" >Publicar/Revisar livros.</a>
<form novalidate class="formCRUD" ng-if="mostrarAddLivros"   name="adicionarLivro">
    <hr>
       <label for="inputTituloLivro"> Titulo </label>
    <input type="text" name="inputTituloLivro"  placeholder="Titulo(obrigatorio). De 3 a 60 letras." required minlength="3" maxlength="60" ng-model="livro.Titulo">
  
       <label for="descricaoLivro"> Descricao </label><br>
    <textarea class="textarea" ng-model="livro.Descricao" placeholder="Descrição do livro"></textarea>
   
    <br>

    
    <input type="text" name="inputGeneroLivro"  placeholder="Genero(obrigatorio). 3 a 20 letras." required minlength="3" maxlength="40" ng-model="livro.Genero">
    <label for="inputGeneroLivro"> Genero </label>
    <input type="text" name="inputCapaLivro"  placeholder="Capa(obrigatorio). 3 a 20 letras." required minlength="3" ng-model="livro.Capa">
     <label for="inputCapaLivro"> Url da Capa </label>
    
    <input type="number" name="inputAutorLivro"  placeholder="ID Do autor(obrigatorio). 3 a 20 letras." ng-model="livro.IdAutor">
    <label for="inputAutorLivro"> ID do Autor </label>
    <br>
    <button type="submit" class="btn btn-success" ng-disabled="adicionarLivro.$invalid || adicionarLivro.$pending" ng-click="insereLivro(livro)"> Adicionar novo livro.</button>
    <br>
    <br><br><br>
</form>

<form novalidate ng-if="mostrarRevisarLivros" name="modificarLivro">

    <table ng-init="obterLivrosCompletos()" class="table table-bordered">
        <br><br>
        <thead>
            <th> Capa </th> <th>Isbn</th><th>Título</th> <th>Genero</th>  <th>Autor</th> <th>Modificar Livro</th> <th>Livro Revisado?</th> <th>Livro Publicado?</th>
        </thead>
        <tr ng-repeat="livro in livros | orderBy:'Isbn' ">
            <td > <img ng-src={{livro.Capa}} id="imagemTabela"alt=""></td> <td>{{livro.Isbn}}</td> <td>{{livro.Titulo}}</td><td>{{livro.Genero}}</td>  <td>{{livro.NomeAutor}}
            </td>  
           
            <td>
                {{livro.DataRevisao !== null ? 'Sim' : 'Não'}}
            </td>
            <td>
                {{livro.DataPublicacao !== null ? 'Sim' : 'Não'}}
                
            </td>
             <td><button class="btn btn-default" ng-click="remover(livro.Isbn)">Excluir</button><button ng-if="auth.possuiPermissao('Revisor') && livro.DataRevisao === null" class="btn btn-default" ng-click="revisarLivro(livro.Isbn)">Revisar</button> <button ng-if="auth.possuiPermissao('Publicador') && livro.DataPublicacao === null && livro.DataRevisao !== null" class="btn btn-default" ng-click="publicarLivro(livro.Isbn)">Publicar</button></td>
        </tr>
    </table>



</form>
</div>




<div class="container" ng-if="!auth.isAutenticado()">

        <H2>AREA RESTRITA</H2>
</div>