#logo-navbar{
    position:relative;
    top:-16px;
}
.menu-item{
    padding:40px;
}
nav-principal{
    background-color:black;
}
#itembranco{
    background-color:white;
}
#imagem-fundo{
    background-image:url(liquid-logo.png);
    background-size:50%;
    opacity:0.3;
    
    background-position:center;
    background-repeat:no-repeat;
    height:120vh;
}
