<!DOCTYPE HTML>
<html  ng-app="SistemaCRUD">
<head>
    <meta charset="utf-8">
    <title> Exemplo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <link rel="stylesheet" href="CRUD.css">
    <script src="sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="sweetalert/dist/sweetalert.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="controller.js"></script>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" id="brandAngular"src="https://angular.io/resources/images/logos/angular/angular_solidBlack.png">
                </a>
                <p class="navbar-text">CRUD (AngularJS)</p>
                <button type="button" class="btn btn-primary  active" ng-click="toggleAulas = false; toggleADDInstrutores = true; toggleModInstrutores=true" ng-init="toggleAulas = false,toggleADDInstrutores = true,toggleModInstrutores=true"> Adicionar e Modificar Aulas.</button>
                <button type="submit" class="btn btn-primary  active" ng-click="toggleAulas = true; toggleADDInstrutores = false; toggleModInstrutores=true" ng-init="toggleADDInstrutores = true"> Adicionar/Visualizar Instrutores.</button>
                <button type="submit" class="btn btn-primary  active" ng-click="toggleAulas = true; toggleADDInstrutores = true; toggleModInstrutores=false" ng-init="toggleModInstrutores = true"> Modificar Instrutores.</button>
            </div>
        </div>
    </nav>
    <div class="container-fluid" ng-controller="PrincipalController" id="branco">
       
       <a href="#!/addAulas">Add aulas</a>
    <a href="#!/addInstrutores">Add instrutores</a>
       <a href="#!/modInstrutores">Mod instrutores</a>
        <ng-view></ng-view>
       
 
     






    </div>


</body>
</html>
