
   <button ng-click="obterRelatorioGerencia(dataRelatorioGerencia)" class="btn-md btn-info">Obter relatório a partir da data:</button>
    <input ng-model="dataRelatorioGerencia" type="date"> <span>Total faturado nos 30 dias anteriores: {{totalFaturado}}</span>
   <table class="table table-bordered">
    <br><br>
    <thead>
        <th> Nome do Cliente </th> <th>Pedido</th> <th>Data de Entrega Realizada</th> <th>Valor Pago</th>
    </thead>
    <tr ng-repeat="pedido in listaDePedidosGerencia">
       <td>{{pedido.Cliente.Nome}}</td>
       <td>  <a href="#!/visualizarPedido/{{pedido.Id}}"><button class="btn-sm btn-success">Visualizar</button></a></td>
       <td>  {{pedido.DataEntregaRealizada | date:'dd/MM/yyyy'}} </td>
       <td>  {{pedido.TotalASerPago}}</td>
    </tr>
</table>